<div class="container page-wrap">		
	<div class="content-container">
		<div class="row">
			<div class="header">
				<h1>Contact us</h1>
			</div>
			<div class="col-md-4">
				<h3><span class="glyphicon glyphicon-home" style="padding-right: 20px"></span>Bike Shop Address</h3>
				<p>Friedrichshain<br>
				Berlin
				</p>
			</div>
			<div class="col-md-4">
				<h3><span class="glyphicon glyphicon-envelope" style="padding-right: 20px"></span>Email</h3>
					<p>For any inquiries, write an Email to: <a href="mailto:xavier@adkicker.io">xavier@adkicker.io</a>
					</p>
			</div>
			<div class="col-md-4">
				<h3><span class="glyphicon glyphicon-pencil" style="padding-right: 20px"></span>Send us a message</h3>
				<%= flash[:notice] %>

					<%= form_tag("/static_pages/thank_you") do %>
					<div class="row">
					  <div class="col-md-4">
					    <div class="form-group">
					      <%= label_tag :name %>
					      <%= text_field_tag :name, nil, class: "form-control form-control-message", placeholder: "Enter Name" %>
					    </div>      
					    <div class="form-group">
					      <%= label_tag :email, "Email Address" %>
					      <%= text_field_tag :email, nil, class: "form-control form-control-message", placeholder: "Enter Email" %>
					    </div>
					    <div class="form-group">
					      <%= label_tag :message %>
					      <%= text_area_tag :message, nil, class: "form-control form-control-message", placeholder: "Enter Message" %>
					    </div>      
					  </div>
					</div>
					<%= submit_tag("Send", class: "btn btn-default") %>   
					<% end %>
			</div>
		</div>
	</div>
</div>