<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3 style="float:left">Insert a new product:</h3>

  </br>
  </br>
  </br>

  <div class="input-group">
    <%= f.label(:name, "Name:", class: "input-group-addon") %>
    <%= f.text_field(:name, class: "form-control") %>
  </div>

  </br>

  <div class="input-group">
    <%= f.label(:description, "Description:", class: "input-group-addon") %>
    <%= f.text_area(:description, class: "form-control") %>
  </div>

  </br>

  <div class="input-group">
    <%= f.label(:image_url, "Image URL:", class: "input-group-addon") %>
    <%= f.text_field(:image_url, class: "form-control") %>
  </div>

  </br>

  <div class="input-group">
    <%= f.label(:colour, "Colour:", class: "input-group-addon") %>
    <%= f.text_field(:colour, class: "form-control") %>
  </div>

  </br>

  <div class="input-group">
    <%= f.label(:price, "Price:", class: "input-group-addon") %>
    <%= f.number_field(:price, class: "form-control") %>
  </div>

  </br>

  <div class="actions">
    <%= f.submit("Submit", class: "btn btn-default") %>
  </div>

  </br>
  </br>

<% end %>
