         

          <div class="item container-product">
            <div class="item">
              <%= image_tag(product.image_url, :class => "img-responsive img-rounded", :style => 'min-width:230px') %>
              <br>
            </div>
            <div class="item" style="font-size:20px;justify-content:center">
              <%= product.name %><br><br>
            </div>
            <div class="item">
              <%= product.description %><br><br>
            </div>
            <div class="item">
              Colour:&nbsp;<%= product.colour %><br><br>
              <%= link_to 'Show', product %>
              <%= link_to 'Edit', edit_product_path(product) %>
              <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
