<% cache product do%>         

<div class="item container-product">
  <div class="item">
    <%= link_to(image_tag(product.image_url, :class => "img-responsive img-rounded", :style => 'min-width:230px'), product) %>
    <br>
  </div>
  <div class="item" style="font-size:20px;text-align:center">
    <%= link_to(product.name, product, style: "text-align:center") %><br><br>
  </div>
  <div class="item">
    <%= product.description %><br><br>
  </div>
  <div class="item">
    Colour:&nbsp;<%= product.colour %><br/><br>
  </div>
  <div class="item">
    Price:&nbsp;
    <%= humanized_money product.price %><%= currency_symbol %><br><br>
  </div>

  <% end %>

  <div class="item">

    <% if user_signed_in? %>

    <%= link_to 'Show', product_path(product) %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>

  </div>
</div>

