<div class="container page-wrap">    
  <div class="content-container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="header">  
        <h1>Products</h1>
      </div>
        <div class="row">
          <% @products.each do |product| %>
          <div class="col-md-4" style="padding:10px">
            <div class="row">
              <div class="col-md-4" style="text-align:center">
              <img src=<%= product.image_url %> class="img-responsive img-rounded" style="min-width:250px"></img><br></div>
            </div>
            <div class="row" style="font-size:20px">
              <%= product.name %><br><br>
            </div>
            <div class="row">
              <%= product.description %><br><br>
            </div>
            <div class="row">
              Colour:&nbsp;<%= product.colour %><br><br>
              <%= link_to 'Show', product %>
              <%= link_to 'Edit', edit_product_path(product) %>
              <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
