
<div class="container page-wrap">    
  <div class="content-container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="header">  
        <h1><%= @product.name %></h1>
        <br/>
       </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="col-md-6">
          <h4>Description:</h4>
          <%= @product.description %>
        </div>
        <div class="col-md-6">
          <h4>Colour:</h4>
          <%= @product.colour %>
        </div>
        <div class="col-md-12">
          <br/><hr>
        </div>


        <% if !Comment.where("product_id = ?", @product.id).empty? %>

        <div class="col-md-6">
          <h4>Top positive review:</h4>
          <%= @product.comments.rating_desc.first.body %>
        </div>
        <div class="col-md-6">
          <h4>Rating:</h4>
          <%= @product.comments.rating_desc.first.rating %>
        </div>

        <div class="col-md-6">
          <h4>Top critical review:</h4>
          <%= @product.comments.rating_desc.last.body %>
        </div>
        <div class="col-md-6">
          <h4>Rating:</h4>
          <%= @product.comments.rating_desc.last.rating %>
        </div>

        <% end %>

      </div>


      <div class="col-md-4">
        <%= image_tag(@product.image_url, :class => "img-responsive img-rounded", :style => 'min-width:230px') %>
      </div>

    </div>

    <div class="row">

        <br/>
        <br/>

        <%= link_to 'Edit', edit_product_path(@product) %> |
				<%= link_to 'Back', products_path %>

    </div>

    </div>
  </div>
</div>
